* {
    box-sizing: border-box;
}
body {
    background-color: black;
    text-align: center;
    
}

h1{ 
    color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 400px;
    min-width: 100px;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;

    background-color: yellow;
    font-size: 22px;
    font-weight: bold;

    transition: width 1s, height 1s;
    
}
